* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url(images/thekeshcover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    font-family: "Great Vibes";
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:11em;
    font-weight: 100;
}

.wave {
    background: url(images/wave.svg);
}